<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Profile</title>
    <link rel="stylesheet" href="../styles.css" />
    <link rel="stylesheet" href="./crop.css" />
    <link
      rel="stylesheet"
      href="../node_modules/cropperjs/dist/cropper.min.css"
    />
  </head>
  <body>
    <nav class="bold">
      <img
        src="./arrow-left-circle.svg"
        alt="back button"
        class="pointer"
        id="back"
      />
      <p>Potong Gambar</p>
    </nav>
    <div class="section-wrapper">
      <img id="result" />
    </div>
    <button id="crop" class="pointer bold">Crop</button>
    <script src="../node_modules/cropperjs/dist/cropper.min.js"></script>
    <script src="crop.js"></script>
  </body>
</html>
